@font-face {
    font-family: 'Roblox';
    src: url('Roblox2017.ttf') format('truetype');
}
body{
    background-image: url("../CSS/0eeeb19633422b1241f4306419a0f15f39d58de9.png");
    background-repeat: repeat-x repeat-y;
    font-family: 'Roblox';
    color: red;
}
#answerError{
    display: none;
}
.background{
    text-align: center;
}
h1{
 font-size: 4em;
}
fieldset{
    max-width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color:green;
    font-size: 3em;
}
a{
    text-decoration: none;
    color: red;
    font-size: 3em;
}
@keyframes fade-in {
    0%{
      opacity: 0;
      top: 100px;
    }
    30%,
    70% {
      opacity: 1;
      top: 30px;
    }
   
  }
  
  .floating {
    display: inline;
    position: relative;
    top: 20px;
    animation: fade-in 6s;
    float: left;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .container {
    height: 100px;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
  }

  .map img{
      max-width: 100%;
      max-height: 100%;
  }
  .vader img{
      max-height: 100%;
      max-width: 100%;
  }