@font-face {
    font-family: 'Roblox';
    src: url('Roblox2017.ttf') format('truetype');
}
body{
    background-image: url("../images/Bday2\ poster\ 2.png");
    background-repeat: repeat-x repeat-y;
    font-family: 'Roblox';
    color: rgb(125, 13, 230);
}
#answerError{
    display: none;
}
.background{
    text-align: center;
    
}
h1{
 font-size: 4em;
}
h2{
    font-size: 3em;
   }
h3{
    font-size: 2em;
   }
fieldset{
    max-width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color:rgb(74, 3, 71);
    font-size: 1em;
}
a{
    text-decoration: none;
    color: rgb(204, 27, 192);
    font-size: 1em;
}
@keyframes fade-in {
    0%{
      opacity: 0;
      top: 100px;
    }
    30%,
    70% {
      opacity: 1;
      top: 0px;
    }
   
  }
  
  .floating {
    font-size: 1em;
    display: inline;
    position: relative;
    top: 20px;
    animation: fade-in 6s;
    float: left;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: none;
  }
.floating:hover{
    font-size: 1em;
}
  .container {
    height: 100px;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
  }

  .map img{
      max-width: 50%;
      max-height: 50%;
  }
  .vader img{
      max-height: 50%;
      max-width: 50%;
  }
  .inputform img{
      max-width: 70px;
      max-height: 70px;
}
.gallery img{
    max-width: 50%;
    max-height: 50%;
}
.inputform {
    background-color: white;
    max-width: fit-content;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}